<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.board.treeMapper">

	<!-- 데이터를 불러올때는 result Type 사용 -->
	<select id="getTreeList"
		parameterType="com.spring.mastercode.form.TreeForm"
		resultType="com.spring.mastercode.dto.TreeDto">
		select
		*
		from BOARD.tree
		  
	</select>
	
	
	
</mapper>

